@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#app {

}

:root {
  --era-bg: #ffffff; /* Дефолтный цвет */
}

body {
  color: white;
  background: var(--era-bg);
  transition: background 0.5s ease;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}